<form class="Box-Form">

    <label class="Auth-Change-feature" (click)="onSelect('Login')"> Login</label>

    <div class="Auth-Title"> Register </div>
    <input class="Auth-Input" type="text" name="username" placeholder="Username" minlength="3" maxlength="16">
    <input class="Auth-Input" type="email" name="email" placeholder="Email" minlength="3" maxlength="16">
    <input class="Auth-Input" type="text" name="password" placeholder="Password" minlength="3" maxlength="16">
    <input class="Auth-Input" type="password" name="password" placeholder="Password" minlength="3" maxlength="16">
    
    <label class="Auth-label" > <input type="checkbox"> Remember Me </label>

    <button class="Auth-Submit-btn" type="submit"> Submit </button>

</form>