<div class="Profile-Box" >

    <div class="Profile-Avatar-Box">
        <img class="Profile-Avatar-Image" src="http://localhost:3000/images/test/Profile-Avatar.png">
        <div class="Profile-Avatar-Overlay"> <ion-icon name="cloud-upload-outline"></ion-icon> <input type="file"> </div>
    </div>

    <div class="Profile-Input-Box" data-condition="true" >

        <input type="text" placeholder="Name">
        <input type="text" placeholder="LastName">
        <input type="text" placeholder="NickName">
        <input type="text" placeholder="Email">

    </div>

</div>