<div class="Sidebar-Box">
    
    <div class="Sidebar-Footer">
        
        <img class="Footer-Avatar" src="../../../../assets/Images/Profile-Avatar.png" />
        <div class="Footer-Username"> Mohammad Mahdi Einollahi </div>
        
        <div class="Footer-IconBox">
            
            <div class="Footer-Icon"> <ion-icon name="notifications-outline"></ion-icon> </div>
            <div class="Footer-Icon"> <ion-icon name="settings-outline"></ion-icon> </div>
            <div class="Footer-Icon"> <ion-icon name="log-in-outline"></ion-icon> </div>
            
        </div>            
        
    </div>
    
    <div class="Sidebar-Content">

        <!-- =============================== -->
        
        <Dashboard-SidebarTitle Title="Dashboard"/>

        <Dashboard-SidebarItem Title="Profile" Icon="person-outline" />

        <Dashboard-SidebarMenu Title="Shop" Icon="bag-handle-outline" >
            
            <Dashboard-SidebarItem Title="Rank" Icon="pricetag-outline" />
            <Dashboard-SidebarItem Title="Survival" Icon="earth-outline" />
            <Dashboard-SidebarItem Title="Hard Survival" Icon="barbell-outline" />
            <Dashboard-SidebarItem Title="SkyBlock" Icon="thunderstorm-outline" />
            <Dashboard-SidebarItem Title="BedWars" Icon="bed-outline" />
            
        </Dashboard-SidebarMenu>

        <Dashboard-SidebarItem Title="Support" Icon="headset-outline" />
        <Dashboard-SidebarItem Title="History" Icon="hardware-chip-outline" />
        <Dashboard-SidebarItem Title="Wallet" Icon="wallet-outline" />
        <Dashboard-SidebarItem Title="Latary" Icon="pie-chart-outline" />


        
        <!-- =============================== -->
        
    </div>

</div>