<div class="Sidebar-Box">
    
    <div class="Sidebar-Footer">
        
        <img class="Footer-Avatar" src="../../../../assets/Images/Profile-Avatar.png" />
        <div class="Footer-Username"> Mohammad Mahdi Einollahi </div>
        
        <div class="Footer-IconBox">
            
            <div class="Footer-Icon"> <ion-icon name="notifications-outline"></ion-icon> </div>
            <div class="Footer-Icon"> <ion-icon name="settings-outline"  (click)="onSelect('Setting')" ></ion-icon> </div>
            <div class="Footer-Icon" title="LogOut" (click)="onLogOut()" > <ion-icon name="log-in-outline"></ion-icon> </div>
            
        </div>            
        
    </div>
    
    <div class="Sidebar-Content">

        <!-- =============================== -->
        
        <Dashboard-SidebarTitle Title="Dashboard"/>

        <!-- <Dashboard-SidebarItem Title="Dashboard" Icon="qr-code-outline" (click)="onSelect('Dashboard')" /> -->
        <Dashboard-SidebarItem Title="Profile" Icon="person-outline" (click)="onSelect('Profile')" />
        <Dashboard-SidebarItem Title="Favorite" Icon="heart-outline" (click)="onSelect('Favorite')" />
        <Dashboard-SidebarItem Title="Orders" Icon="bag-handle-outline" (click)="onSelect('Orders')" />
        <Dashboard-SidebarItem Title="Address" Icon="map-outline" (click)="onSelect('Address')" />

        <!-- <Dashboard-SidebarMenu Title="Shop" Icon="bag-handle-outline" >
            
            <Dashboard-SidebarItem Title="Rank" Icon="pricetag-outline" />
            
        </Dashboard-SidebarMenu> -->

        <Dashboard-SidebarItem Title="Support" Icon="headset-outline" (click)="onSelect('Support')" />

        <!-- =============================== -->
        
    </div>

</div>